
/*LA NAVBAR*/
.nav-item {
    padding: 20px;
    float: right;
    
}
nav {
    background-color: black;
    opacity: 0.7;
    margin-bottom: 100px;
    position: fixed;
    top: -62px;
    transition: top 0.3s;
    display: block;
}
nav ul li a {
    color: white;
}



/*LE BOULOT DES AUTRES*/
.jumbotron {
    height: 1080px;
    width: 100%;
}
.container-fluid {
    padding: 0;
}
.container-fluid .jumbotron {
    border-radius: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0);
}
.jumbotron h2 {
    color: #ffffff;
    text-align: center;
    font-size: 80px;

}
.jumbotron h1 {
    color: #f2f0f1;
    text-align: center;
    font-size: 100px;
    margin-top: -10px;
    padding-bottom: 250px;
}
.container-fluid #bgvid { 
  
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;  
    position: fixed;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(../vid/Pour.jpg) no-repeat;
    background-size: cover; 
}


/*------------*
    Recettes
*-------------*/
#recettes {
    margin: 0;
    background-color: white;
}

#recettes h2 {
    color: black;
}

.row {
    margin: 20px 0;
}

#recettes article {
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}

#recettes article .espace {

}

#recettes article header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#recettes article header h3 {
    margin: 12px 0 8px 0;
}

#recettes article header img {
    width: 20px;
    height: 20px;
    margin: 12px 0 8px 0;
}

#recettes article hr {
    margin: 0;
    padding: 0;
}

#recettes article p {
    margin: 4px 0 8px 0;
}

#recettes article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bouton {
    padding: 10px 0;
}

.bouton:hover {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.selection {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

#recettes .original {
    background-color: rgb(223, 15, 33);
}

#recettes .mojito {
    background-color: rgb(160, 195, 54);
}

#recettes .tropical {
    background-color: rgb(199, 77, 25);
}

#recette {
    height: 432px;
    margin: 0;
    background-color: rgb(210, 208, 195);
}

/*FOOTER CONTACT*/
.footer {
    background-color: #464646;
}
h4 {
    color: white;
}
.formulaire label {
    color: white;
}