
/*LA NAVBAR*/
.nav-item {
    padding: 20px;
    float: right;
    
}
nav {
    background-color: black;
    opacity: 0.7;
    margin-bottom: 100px;
    position: fixed;
    top: -62px;
    transition: top 0.3s;
    display: block;
}
nav ul li a {
    color: white;
}



/*LE BOULOT DES AUTRES*/
.jumbotron {
    height: 1080px;
    width: 100%;
}
.container-fluid {
    padding: 0;
}
.container-fluid .jumbotron {
    border-radius: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0);
}
.jumbotron h2 {
    color: #ffffff;
    text-align: center;
    font-size: 80px;

}
.jumbotron h1 {
    color: #f2f0f1;
    text-align: center;
    font-size: 100px;
    margin-top: -10px;
    padding-bottom: 250px;
}
.container-fluid #bgvid { 
  
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;  
    position: fixed;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(../vid/Pour.jpg) no-repeat;
    background-size: cover; 
}


/*------------*
    Recettes
*-------------*/
#recettes h2 {
    color: black;
}

#recettes article {
    border-radius: 10px;
}

#recettes article hr {
    margin: 0;
    padding: 0;
}

#recettes .original {
    background-color: rgb(223, 15, 33);
}

#recettes .mojito {
    background-color: rgb(160, 195, 54);
}

#recettes .tropical {
    background-color: rgb(199, 77, 25);
}
